.hide{
    display: none;
}
#qrcode:hover {
    cursor: none;
}

:root {
    --textWhite: #ebebeb;
    --darkWhite: #c3c3c2;
    --blue: #1470d2;
    --deepBlack: #242423;
    --darkGray: #333533;
    --sm1: 0.25rem; /*4px*/
    --sm2: 0.5rem; /*8px*/
    --sm3: 0.75rem; /*12px*/
    --md1: 1rem; /*16px*/
    --md2: 1.25rem; /*20px*/
    --md3: 1.5rem; /*24px*/
    --lg1: 2rem; /*32px*/
    --lg2: 3rem; /*48px*/
    --lg3: 4rem; /*64px*/
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Calibri';
    background-color: rgb(78, 75, 75);
}

#panel{
    border-radius: 25px;
    box-shadow: -3px 1.5px 7px var(--darkGray);
    height: auto;
}

#console {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--lg1) 0;
}
.type-btn {
    width: 30%;
    max-width: 125px;
    padding: var(--sm1);
    margin: var(--sm1);
    background-color: var(--blue);
    font-size: calc(var(--md1)*0.875);
    color: var(--textWhite);
    border: none;
    box-shadow: -2px 3px 5px var(--darkGray);
    border-radius: var(--sm2);
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
.type-btn:hover{
    box-shadow: none;
}

#link-btn::before, #text-btn::before, #email-btn::before, #number-btn::before, #social-btn::before, #file-btn::before, #download-btn::before{
    content: '';
    display: inline-block;
    width: calc(var(--md1)*1.05);
    height: calc(var(--md1)*1.05);
    margin-right: 0.7px;
    background-size: calc(var(--md1)*1.05) calc(var(--md1)*1.05);
    vertical-align: middle;
}
#link-btn::before{
    background-image: url(icons/link.png);
}
#text-btn::before{
    background-image: url(icons/text.png);
}
#email-btn::before{
    background-image: url(icons/email.png);
}
#number-btn::before{
    background-image: url(icons/phone.png);
}
#social-btn::before{
    background-image: url(icons/social.png);
}
#file-btn::before{
    background-image: url(icons/file.png);
}

#qr-generate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--lg1) 0;
}
#qr-value, #qr-text-value{
    width: 85%;
    max-width: 300px;
    height: var(--lg1);
    margin: 0 0 var(--sm1) 0;
    color: var(--darkWhite);
    border-radius: var(--sm2);
    border: 0.05px var(--textWhite) solid;
    box-shadow: -1px 1px 1px var(--darkGray);
    transition: 0.3s;
}
#qr-value:focus, #qr-text-value:focus{
    color: var(--deepBlack);
}
details{
    width: 70%;
    max-height: 250px;
    max-width: calc(var(--lg3)*3.3);
    padding: var(--sm2);
    border-radius: var(--sm1);
    border: 0.05px var(--darkGray) solid;
    color: var(--textWhite);
    cursor: pointer;
    overflow-y: scroll;
}
details p {
    padding: var(--sm1);
    margin: 0;
}
details hr {
    color: var(--textWhite);
}

#qr-container {
    border-radius: 25px;
    box-shadow: 3px 1.5px 7px var(--darkGray);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--lg2);
}
canvas {
    scale: 1.1;
}
#prompt, #download-btn {
    margin: var(--md2);
    padding: var(--sm2);
}
#prompt {
    font-size: var(--md2);
    padding: 0;
    text-decoration: none;
    color: var(--textWhite);
}
#download-btn {
    width: 50%;
    border-radius: 10px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    box-shadow: -2px 3px 5px var(--darkGray);
    color: var(--textWhite);
    cursor: pointer;
    transition: 0.3s;
}
#download-btn::before {
    background-image: url(icons/download.png);
}
#download-btn:hover {
    box-shadow: none;
}

@media (max-width: 748px) {
    
    #panel, #qr-container {
        margin: var(--md1);
    }

    #panel {
        background: linear-gradient(var(--darkGray), var(--lightgreen), var(--darkWhite));
    }
    details {
        padding: var(--sm1);
    }

    #qr-container {
        background: linear-gradient(to top, var(--darkGray), var(--lightgreen), var(--darkWhite));
        padding: var(--md1);
        max-width: 80%;
    }
    canvas {
        scale: 1;
    }
    #prompt, #download-btn {
        margin: var(--sm2);
    }

}